*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#content_carrusel{
    height: 400px;
    overflow: hidden;
}
.carrusel{
    border: 1px solid black;
    height: 400px;
    position: relative;
}
.tarjeta_carrusel{
    background-color: rgb(52, 231, 231);
    height: 100%;
}
.flecha_carrusel{
    background-color: 666;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#tarjeta_carrusel_1{
    background-color: rgb(172, 172, 236);
}
#tarjeta_carrusel_2{
    background-color: rgb(205, 236, 172);
}
#tarjeta_carrusel_3{
    background-color: rgb(241, 153, 222);
}

a{
    text-decoration: none;
}