* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;

}

.nav {
    color: white;
    background-color: black;
    padding: 10px;
    display: flex;
    column-gap: 2%;
    flex-direction: row;
    justify-content: auto;
    z-index: 1;
    position: sticky;
}

.nav_logo {
    font-size: 1.8rem;
    padding: 10px;
    text-decoration: none;
    text-decoration: solid;
}

.nav_manu {
    padding: 10px;
    display: flex;
    align-items: center;
    transition: all 0.1s linear;
    text-decoration: none;
    text-decoration: solid;
    color: var(--c);
}
.nav_manu__activ{ padding: 10px;
    display: flex;
    align-items: center;
    transition: all 0.1s linear;
    text-decoration: none;
    text-decoration: solid;
    color: var(--c);
    color: rgb(141, 179, 141);}
.nav_manu__activ:hover{ color: #bbb;
    font-size: 1.5rem;
    transition: all 0.1s linear;}
    

.nav_manu:hover {
    color: #bbb;
    font-size: 1.5rem;
    transition: all 0.1s linear;
}

.galeria{
    max-width: 98%;
    height: 90vh;
    margin: auto;
    position: relative;
    justify-content: center;
    align-self: center;
    text-align: center;
    padding-top: 18%;

}

.galeria_texto{
    max-width: 980px;
    height: auto;
    margin: auto;
    margin-top: 40px;
    position: relative;
}

/*
.galeria_container{
    display: flex;
    column-gap: 2%;
    height: auto;
    padding: 1%;
    flex-wrap: wrap;
    background-color: var(--i);  
}

.galeria_pantone{
    grid-column: 1/3;
    grid-row: 3/5;
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 25% 25% 25% 25%;
    border-radius: 10px;
    position: relative;
    
}

.galeria-colores_imagen {
    max-width: 100%;
    border-radius: 2%;
    padding: 2%;
    flex-wrap: wrap;
    opacity: 1;
    transition: .5s;
}

.galeria-colores_imagen:hover {
    opacity: 0.8;
}

.geleria_especie{
    background-size: cover;
    overflow: hidden;
    text-decoration: none;
    text-decoration: solid;
    position: relative;
    justify-content: center;
}*/

.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10px;
    padding-top: 2%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contenedor figure{
    position:relative;
    height: 250px;
    cursor: pointer;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    /*box-shadow: 0px 15px 25px rgba(0,0,0,0.50);*/
}

.contenedor figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,103,123,0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor figure:hover > img{
    transform: scale(1.3);
}
.contenedor figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
     margin-top: 30px;
}
.contenedor figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}