* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;

}

.nav {
    color: white;
    background-color: black;
    padding: 10px;
    display: flex;
    column-gap: 2%;
    flex-direction: row;
    justify-content: auto;
    z-index: 1;
    position: sticky;
}

.nav_logo {
    font-size: 1.8rem;
    padding: 10px;
    z-index: 1;
}

.nav_manu {
    padding: 10px;
    display: flex;
    align-items: center;
    transition: all 0.1s linear;
    z-index: 1;
    text-decoration: none;
    text-decoration: solid;
    color: var(--c);
    
}


.nav_manu:hover {
    color: #bbb;
    font-size: 1.5rem;
    transition: all 0.1s linear;
}
