* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;

}

:root {
    --c: #ffff;
}

.nav {
    color: white;
    background-color: black;
    padding: 10px;
    display: flex;
    column-gap: 2%;
    flex-direction: row;
    justify-content: auto;
    z-index: 1;
    position: sticky;
}

.nav_logo {
    font-size: 1.8rem;
    padding: 10px;
    z-index: 1;
}

.nav_manu {
    padding: 10px;
    display: flex;
    align-items: center;
    transition: all 0.1s linear;
    z-index: 1;
    text-decoration: none;
    text-decoration: solid;
    color: var(--c);
    
}


.nav_manu:hover {
    color: #bbb;
    font-size: 1.5rem;
    transition: all 0.1s linear;
}

.nav_manu_aves_index {
    padding: 10px;
    padding-left: -5rem;
    display: flex;
    height: 1fr;
    width: auto;
    border-radius: 10px;
    align-items: center;
    transition: all 0.1s linear;
    z-index: 1;
    text-decoration: none;
    text-decoration: solid;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;

}

.ul_non_format {
    list-style: none;
}


.nav_manu_aves_index:hover {
    color: rgb(0, 0, 0, 1);
    background-color: rgba(253, 249, 0, 0.37);
    font-size: 1.7rem;
    transition: all 0.1s linear;
}

.header__titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(95, 90, 90);
    color: lightgoldenrodyellow;
    height: 50px;
    padding-left: 10rem;
    z-index: 1;
}

.contenedor_body {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    max-width: 960px;
    height: 100vh;
    margin: auto;
    position: relative;
    z-index: 1;
    padding-top: 20px;
    animation-name: animacion-padding;
    animation-duration: 7s;
    column-gap: 5%;
    row-gap: 5%;
}

.tituloSecundario1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(235, 11, 141, 0.0);
    color: rgb(0, 0, 0);
    height: auto;
    padding: 20px;
    border-radius: 10px;
    grid-column: 1/3;
    grid-row: 1/2;
}

.tituloSecundario2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(17, 3, 3, 0.568);
    color: white;
    position: static;
    height: auto;
    padding-left: 2rem;
    border-radius: 10px;
    grid-column: 1/2;
}

@keyframes animacion-imagen {
    from {
        opacity: 100%;
    }

    to {
        opacity: 70%;
    }
}

@keyframes animacion-padding {
    from {
        padding-top: 600px;
    }

    to {
        padding-top: 20px;
    }

}

.imagen-estatica {
    background-image: radial-gradient(100% 50% 50%);
    opacity: 70%;
    position: fixed;
    top: 0px;
    width: 1500px;
    animation-name: animacion-imagen;
    animation-duration: 7s;
}

.texto-imagen {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: sticky;
    top: 50px;
    color: rgb(122, 84, 2);
    height: auto;
    padding-left: 0;
}

.links {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(238, 215, 167);
    text-decoration: solid;
}

.tituloSecundario3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(235, 11, 141, 0.0);
    color: rgb(0, 0, 0);
    height: auto;
    padding: 20px;
    border-radius: 10px;
}

.tituloSecundario4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(235, 11, 141, 0.0);
    color: rgb(0, 0, 0);
    height: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.tituloSecundario5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(235, 11, 141, 0.0);
    color: rgb(0, 0, 0);
    background-color: rgba(179, 67, 119, 0.521);
    height: auto;
    padding: 20px;
    border-radius: 10px;
}

.galeria-colores {
    grid-column: 1/3;
    grid-row: 4/5;
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 25% 25% 25% 25%;


}

.tituloSecundario6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(235, 11, 141, 0.0);
    color: rgb(0, 0, 0);
    background-color: rgba(67, 175, 179, 0.521);
    height: auto;
    padding: 10px;
    grid-column: 1/5;
    grid-row: 1/2;
    border-radius: 10px;
    text-align: center;
}

.galeria-colores_imagen {
    max-width: 100%;
    border-radius: 2%;
}
.pie-de-pagina{grid-row: 5/6;
    grid-column: 1/3;
    }